
.body-fon {
	background: url(img/dota2.jpg);
}

.g {
	font-size: 50px;
	color: red;
	font-family: 'Orbitron', sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
	font-size: 30px;
	line-height: 45px;
}

a:hover {
	font-size: 35px;
	color: grey;
	text-decoration: underline;
} 

.dota-photo {
	float: right;
	position: relative;
    border-radius: 50%;
    border: 5px solid black;
    width: 200px;
    box-shadow: 0 0 8px black;
}

.dota-cup-1 {
	background-image: url(img/dota-cup.jpg);
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
}

.number {
	color: #fff;
	font-size: 30px;
	float: right;
}

.gmail {
	color: #fff;
	font-size: 30px;
	float: right;

}